{
  "server": {
    "host": "0.0.0.0",
    "port": 25565,
    "motd": ["Line1", "Line2"]
  },
  "proxy": {
    "enabled": false,
    "secret": "forwarding-secret"
  },
  "permissions": {
    "operators": [
      "Your username here"
    ]
  },
  "prometheus": {
    "enabled": false,
    "port": 9090
  }
}
